.grid-cell {
  display: auto;
  background-color: cornflowerblue;
  border:  none;
  padding-top: 0;
  font-size: 90px;
  height: 100px;
  margin: auto;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .grid-cell {
    height: 100px;
  }
}

.grid-cell.cell-odd {
  background-color: yellow;
}

.grid-cell.cell-in-winner {
  color: red;
}