.grid-cell {
    display        : flex;
    box-sizing     : border-box;
    border         : none;
    padding        : 20%;
    font-size      : 200px;
    height         : 200px;
    margin         : auto;
    justify-content: center;
    align-items    : center;
}

@media screen and (max-height: 411) /*and (orientation: landscape)*/ {
    .grid-cell {
        display        : inherit;
        font-size      : 20px;
        height         : 33vh;
        width          : 33vh;
        justify-content: center;
        align-items    : center;

    }
}

@media screen and (max-width: 420px) {
    .grid-cell {
        display        : inherit;
        font-size      : 33vw;
        height         : 33vw;
        width          : 33vw;
        justify-content: center;
        align-items    : center;

    }
}

.grid-cell.cell-in-winner {
    color: goldenrod;
}

:hover.cursor-not-allowed {
    cursor: not-allowed;
}