.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
  background-color: transparent;
  grid-gap: 0px;
  height: 200px;
  width: 200px;
}

.icon-container {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  height: auto;
  padding-bottom: 0.25rem;
  align-items: center;
}

.icon-container > mat-icon {
  margin-right: 4px;
}

.player-label {
  display: inline-flexbox;
  height: 25px;
  padding: 0.5em;
  margin-bottom: 10%;
  font-size: 1em;
  vertical-align: 25%;
}

.player-stop {
  color: red;
  background-color: red;
}

.player-go {
  color: green;
  background-color: green;
}

.mat-form-field {
  margin-bottom: -15px;
  margin-top: -15px;
}

.mat-flat-button {
  margin-right: 0.5em;
}