<mat-form-field class="mat-form-field" floatLabel="never">
  <input required type="text" matInput placeholder="Name" (keyup)="onKeyUp($event)">
</mat-form-field>
<div class="icon-container">
  <button class="mat-flat-button" mat-flat-button color="primary" (click)="clickConnect()"
    [disabled]="!canPlay()">Play</button>
  <div *ngIf="connected; else notConnected">
    <mat-icon color="primary" svgIcon="cloud"></mat-icon>
  </div>
  <ng-template #notConnected>
    <div *ngIf="!error; else haveError">
      <mat-icon color="disabled" svgIcon="cloud-off"></mat-icon>
    </div>
    <ng-template #haveError>
      <mat-icon color="warn" svgIcon="cloud-off"></mat-icon>
    </ng-template>
  </ng-template>
  <div *ngIf="connected && !mark">
    <mat-icon color="warn" svgIcon="hourglass-full"></mat-icon>
  </div>
  <div *ngIf="mark">
    <label class="player-label">you</label>
    <mat-icon color="primary" svgIcon={{mark}}></mat-icon>
    <label class="player-label">{{opponent.opponent}}</label>
    <mat-icon color="primary" svgIcon={{opponentMark}}></mat-icon>
  </div>
</div>
<div>
  <div class=grid-container *ngIf="tileArray.length > 0">
    <app-tic-tac-toe-tile *ngFor="let tile of tileArray;" (clicked)="tileClick($event)" [tile]=tile [mark]=tile.mark>
      {{mark}}</app-tic-tac-toe-tile>
    <div class="winner" *ngIf="result">
      {{result.mark}}
    </div>
  </div>
</div>