#container {
  position  : relative;
  margin    : 0.5em;
  width: 600px;
  height: 800px;
  align-self: center;
}

@media screen and (max-width: 500px) {
  #container {
    position: relative;
    margin: 0.5em;
    width: 382px;
    height: 382px;
    align-self: center;
  }
}

mat-form-field {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 33.3%);
  background-color: transparent;
  grid-gap: 1px;
}

.grid-container app-tic-tac-toe-tile:nth-last-of-type(odd) {
  background-color: cornflowerblue;
}

.grid-container app-tic-tac-toe-tile:nth-last-of-type(even) {
  background-color: yellow;
}

.icon-container {
  display: flex;
  margin: 5px;
  margin-left: 0;
  margin-top: 0;
  flex-direction: row;
  width: 100%;
  height: 40px;
  align-items: center;
  box-sizing: border-box;
}

 mat-icon {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.players {
  margin: 0;
  margin-left: 0.25em;
}

.player-label {
  font-size: 1em;
  vertical-align: 50%;
  margin: 0;
  margin-right: 0.25em;
}

.player-stop {
  fill: red;
}

.player-go {
  fill: green;
}

.mat-form-field {
  margin-bottom: -15px;
  margin-top: -15px;
}

.mat-flat-button {
  margin-right: 0.5em;
}