.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px, 100px, 100px;
  background-color: transparent;
  grid-gap: 1px;
  height: 200px;
  width: 200px;
}

.winner {
  grid-column: 1 / span 3;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 30px;
}

.winner > span {
  display: inline;
  font-size: 5rem;
  text-align: center;
}

.massages {
  grid-column: 1 / span 3;
}

.icon-container {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  height: auto;
  padding-bottom: 0.25rem;
  align-items: center;
}

.player-label {
  display: inline-flexbox;
  height: 25px;
  padding: 0.5em;
  margin-bottom: 10%;
  font-size: large;
  vertical-align: 30%;
}

.mat-form-field {
  margin-bottom: -15px;
  margin-top: -15px;
}

.mat-flat-button {
  margin-right: 0.5em;
}
