<div id="container">
  <mat-form-field class="mat-form-field" floatLabel="never">
    <input required type="text" matInput placeholder="Name" (keyup)="onKeyUp($event)">
  </mat-form-field>
  <div class="icon-container">
    <button class="mat-flat-button" mat-flat-button color="primary" (click)="clickConnect()"
      [disabled]="!canPlay()">Play</button>
    <div *ngIf="connected; else notConnected">
      <mat-icon color="primary" svgIcon="cloud"></mat-icon>
    </div>
    <ng-template #notConnected>
      <mat-icon color={{connectionColor}} svgIcon="cloud-off"></mat-icon>
    </ng-template>
    <div *ngIf="connected && !mark">
      <mat-icon color="warn" svgIcon="hourglass-full"></mat-icon>
    </div>
    <mat-icon *ngIf="mark" [ngClass]="enabled ? 'player-go' : 'player-stop'" svgIcon="hourglass-full"></mat-icon>
    <div *ngIf="mark">
      <label class="player-label">you</label>
      <mat-icon svgIcon={{mark}}></mat-icon>
      <label class="player-label">{{opponent.opponent}}</label>
      <mat-icon svgIcon={{opponentMark}}></mat-icon>
    </div>
  </div>
  <div class=grid-container *ngIf="tiles.length > 0">
    <app-tic-tac-toe-tile *ngFor="let tile of tiles;" (clicked)="tileClick($event)" [tile]=tile></app-tic-tac-toe-tile>
  </div>
</div>